<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudySync</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Study Planner</h1>

<!-- Login Section-->
<div id="loginSection">
    <h2>Login</h2>
    <input id="loginUser" type="text" placeholder="Username">
    <input id="loginPass" type="password" placeholder="Password">
    <button id="loginBtn">Login</button>

    <p>Don't have an account? <a href="#" id="showSignupLink">Sign up</a></p>
</div>

<!-- Signup Section-->
<div id="signupSection" class="hidden">
    <h2>Create Account</h2>
    <input id="signupUser" type="text" placeholder="Choose a username">
    <input id="signupPass" type="password" placeholder="Choose a password">
    <button id="signupBtn">Sign Up</button>

    <p>Already have an account? <a href="#" id="showLoginLink">Login</a></p>
</div>

<!--Planner Section-->
<div id="plannerSection" class="hidden">
    <h2>Welcome, <span id="currentUser"></span></h2>
    <button id="logoutBtn">Logout</button>

    <h3>Add Task</h3>
    <input id="subject" type="text" placeholder="Subject">
    <input id="task" type="text" placeholder="Task">
    <input id="due" type="date">
    <button id="addTaskBtn">Add Task</button>

    <h3>Your Tasks</h3>
    <div id="taskList"></div>
</div>

<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
